# Vim files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Vagrant files
vagrant/*.log
vagrant/.vagrant/

# Don't check in passwords
.secrets
openai.token

# macOS
.DS_Store

# Claude Code local data
.claude

