# Bind F12 to copy the contents of CLIPBOARD to PRIMARY.
# I need this when working across machines/VMs/containers that each
# have their own system CLIPBOARD, but do share PRIMARY.
# http://superuser.com/a/751429/13481
# http://stackoverflow.com/a/4201274/23566
"\e[24~":"\C-k \C-u xclip -o -selection clipboard | xclip -i"

# Enable incremental history search with up/down arrows (also Readline goodness)
# See http://codeinthehole.com/writing/the-most-important-command-line-tip-incremental-history-searching-with-inputrc/
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char

# Case-insensitive file completion
set completion-ignore-case on
# Treat hyphens and underscores as equivalent
set completion-map-case on
# Show all matches on first tab
set show-all-if-ambiguous on
# Better visual cues during completion
set colored-completion-prefix on
set mark-symlinked-directories on