! Switch to TrueType and increase the font size for HiDPI screens.
xterm*renderFont: true
xterm*faceName: VeraMono
xterm*faceSize: 16
! Use 256 colors for xterm and tmux.
xterm*termName: xterm-256color
! Theme from
! https://web.archive.org/web/20090130061234/http://phraktured.net/terminal-colors/
*background:  rgb:00/00/00
*foreground:  rgb:a8/a8/a8
*color0:      rgb:00/00/00
*color1:      rgb:a8/00/00
*color2:      rgb:00/a8/00
*color3:      rgb:a8/54/00
*color4:      rgb:00/00/a8
*color5:      rgb:a8/00/a8
*color6:      rgb:00/a8/a8
*color7:      rgb:a8/a8/a8
*color8:      rgb:54/50/54
*color9:      rgb:f8/54/50
*color10:     rgb:50/fc/50
*color11:     rgb:f8/fc/50
*color12:     rgb:50/54/f8
*color13:     rgb:f8/54/f8
*color14:     rgb:50/fc/f8
*color15:     rgb:f8/fc/f8
! Adjust the line spacing.
xterm*scaleHeight: 1.05
! Use Shift+PageUp and Shift+PageDown to scroll history.
! By default, only 1024 lines are saved.
xterm*saveLines: 4096
